<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Gói Khám</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/GoiKham.css') }}">
</head>
<body>
    <header class="main-header">
    <div class="logo">
        <img src="{{ url_for('static', filename='images/logo.png')}}" alt="Logo Hanh Phuc">
        <span>HP<br><small>Care</small></span>
    </div>
    <nav class="main-nav">
        <ul>
        <li><a href="VeChungToi.html">Về chúng tôi</a></li>
        <li><a href="ChuyenKhoa.html">Chuyên khoa</a></li>
        <li><a href="BacSi.html">Bác sĩ</a></li>
        <li><a href="GoiKham.html">Gói khám</a></li>
        <li><a href="#">IVF Hanh Phuc</a></li>
        <li><a href="LienHe.html">Liên hệ</a></li>
        <li><a class="appointment" href="{{ url_for('dat_lich') }}">Đặt lịch hẹn</a></li>
        <li><a href="#">VN <i class="fas fa-caret-down"></i></a></li>
        <li><a href="#"><i class="fas fa-search" title="Tìm kiếm"></i></a></li>
        </ul>
    </nav>
    </header>

    <section class="banner">
    <figure>
        <img src="{{ url_for('static', filename='images/head.png')}}" alt="Giới thiệu">
        <figcaption>
        Bắt đầu hành trình chăm sóc sức khỏe của bạn tại Phòng khám Hạnh PHúc. Từ việc chăm sóc sức khỏe phụ nữ,
        hiện thực hóa ước mơ làm cha mẹ, đến nuôi dưỡng sự phát triển toadn diện cho thế hệ tương lai, Hạnh Phúc cung cập dịch
        vụ y tế trọn vẹn và uy tín. Các chuyên khoa thế mạnh của chúng tôi, bao gồm Sản phụ khoa, Nhi khoa, Hỗ trợ sinh
        sản(IVF), Phẫu thuật Thẩm mỹ và Phẫu thuật tổng quả, đều được đầu tư trang thiết bị hiện đại, công nghệ chuẩn 
        đoán tiên tiến, cùng đội ngũ y bác sĩ giàu king nghiệm nhằm mang đến chất lượng chắm sóc tốt nhất.
        </figcaption>
    </figure>
    </section>
    <!-- == Trung tâm sức khỏe phụ nữ == -->
<section class="women-health-section">
  <h2>Trung tâm Sức khỏe Phụ nữ</h2>
  <p>
    Với cơ sở vật chất hiện đại và đội ngũ chuyên gia y tế giàu kinh nghiệm, Hạnh Phúc tự hào đồng hành cùng sức khỏe của phụ nữ trong cuộc sống thường ngày và cả trong hành trình sinh con đặc biệt của mỗi người mẹ
  </p>

  <div class="services-grid">
    <div class="service-card">
      <img src="{{ url_for('static', filename='images/gk1.png')}}" alt="Gói sinh">
      <div class="service-content">
        <h3>Gói sinh</h3>
        <p>Tại Hạnh Phúc, chúng tôi tự hào mang đến dịch vụ chăm sóc y tế cao cấp dành riêng cho mẹ và bé, kết hợp cùng chương trình hỗ trợ sau sinh toàn diện.</p>
        <div class="read-more">
          <a href="GoiSinh.html"><i class="fa-solid fa-circle-chevron-right"></i></a>
        </div>
      </div>
    </div>

    <div class="service-card">
      <img src="{{ url_for('static', filename='images/gk2.png')}}" alt="Gói khám thai">
      <div class="service-content">
        <h3>Gói khám thai</h3>
        <p>Khám phá nhiều lợi ích đa dạng của các gói thai sản, từ các buổi tư vấn trước sinh chuyên sâu đến các dịch vụ hỗ trợ toàn diện.</p>
        <div class="read-more">
          <a href="GoiKhamThai.html"><i class="fa-solid fa-circle-chevron-right"></i></a>
        </div>
      </div>
    </div>

    <div class="service-card">
      <img src="{{ url_for('static', filename='images/gk3.png')}}" alt="Gói khám Sức khỏe Phụ nữ">
      <div class="service-content">
        <h3>Gói khám Sức khỏe Phụ nữ</h3>
        <p>Đội ngũ bác sĩ giàu kinh nghiệm, tận tâm, tự hào mang đến gói khám sức khỏe phụ nữ toàn diện, giúp phát hiện và điều trị sớm các bệnh lý.</p>
        <div class="read-more">
          <a href="GoiSucKhoe.html"><i class="fa-solid fa-circle-chevron-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>

    <!-- == Các trung tâm khác == -->
<section class="women-health-section">
  <h2>Các trung tâm khác</h2>
  <p>
    Hạnh Phúc cung cấp sự quan tâm tận tình trên hành trình sức khỏe của bạn
  </p>

  <div class="services-grid">
    <div class="service-card">
      <img src="{{ url_for('static', filename='images/gk4.png')}}" alt="Gói sinh">
      <div class="service-content">
        <h3>Trung tâm hỗ trợ sinh sản</h3>
        <p>Hạnh Phúc tự hào giúp đỡ hàng nghìn khách hàng thực hiện ước mơ trở thành cha mẹ</p>
        <div class="read-more">
          <a href="HoTroSinhSan.html"><i class="fa-solid fa-circle-chevron-right"></i></a>
        </div>
      </div>
    </div>

    <div class="service-card">
      <img src="{{ url_for('static', filename='images/gk5.png')}}" alt="Gói khám thai">
      <div class="service-content">
        <h3>Trung tâm tiêm chủng</h3>
        <p>Hãy bảo vệ bản thân và gia đình với các gói tiêm chủng toàn diện tại Hạnh Phúc</p>
        <div class="read-more">
          <a href="TiemChung.html"><i class="fa-solid fa-circle-chevron-right"></i></a>
        </div>
      </div>
    </div>

    <div class="service-card">
      <img src="{{ url_for('static', filename='images/gk6.png')}}" alt="Gói khám Sức khỏe Phụ nữ">
      <div class="service-content">
        <h3>Trung tâm sức khỏe trẻ em</h3>
        <p>Hạnh Phúc mang đến các dịch vụ chăm sóc sức khỏe toàn diện cho mẹ và bé, đặc biệt trong khoảng thời gian quan trọng sau sinh</p>
        <div class="read-more">
          <a href="TreEm.html"><i class="fa-solid fa-circle-chevron-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- == Footer ==-->
    <footer class="site-footer">
    <div class="footer-container">
        <!-- Cột 1: Logo + thông tin liên hệ -->
        <div class="footer-col">
        <img src="{{ url_for('static', filename='images/logo.png')}}" alt="Logo" class="footer-logo">
        <div class="footer-contact">
            <p><strong>Phòng Khám Hạnh Phúc</strong><br>
            <i class="fa fa-phone"></i> 1900 6765</p>
            <hr>
            <p><strong>Phòng khám Đa khoa Quốc tế Hạnh Phúc (Estella)</strong><br>
            <i class="fa fa-phone"></i> 1900 6765</p>
        </div>
        </div>

    <!-- Cột 2: Các liên kết -->
    <div class="footer-col">
      <ul>
        <li><a href="VeChungToi.html">Về chúng tôi</a></li>
        <li><a href="ChuyenKhoa.html">Chuyên khoa</a></li>
        <li><a href="BacSi.html">Bác sĩ</a></li>
        <li><a href="GoiKham.html">Gói khám</a></li>
        <li><a href="#">IVF Hanh Phuc</a></li>
      </ul>
    </div>

    <!-- Cột 3: Thông tin & Chính sách -->
    <div class="footer-col">
      <ul>
        <li><a href="#">Thông tin y khoa</a></li>
        <li><a href="#">Tin tức</a></li>
        <li><a href="LienHe.html">Liên hệ</a></li>
        <li><a href="#">Quyền riêng tư</a></li>
      </ul>
    </div>

    <!-- Cột 4: Kết nối mạng xã hội -->
    <div class="footer-col">
      <p>Kết nối với chúng tôi</p>
      <div class="social-icons">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><img src="{{ url_for('static', filename='images/zalo.png')}}" alt="Zalo" class="zalo-icon"></a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>Copyright 2025 © Hanh Phuc International</p>
  </div>
</footer>
</body>
</html>
